@page "/C_Empacados"


<EditForm Model="lista">
    <div class="card">
        <div class="card-header">
            <h4>Consulta de productos empacados
                <div class="  oi oi-spreadsheet" >

                         </div>
            </h4>
        </div>

        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">
                    <InputSelect class="form-select text-14" @bind-Value="filtro">

                        <option disabled value>Seleccione un filtro de busqueda</option>
                        
                        <option value="0">Id</option>
                        
                        
                    </InputSelect>

                    <div class="flex-fill mx-2">
                        <label>Criterio</label>
                        <InputText class="form-control" @bind-Value="Criterio" placeholder="Ingrese el criterio de busqueda" />
                    </div>

                  
                    <button type="button" class="btn btn-lg btn-primary" @onclick="Consultar"><span
                            class="oi oi-list"></span> Consultar</button>

                </div>
                     @if (@listado)
                {
                    <div class="input-group d-flex align-items-end">

                        <div class="flex-fill mx-2">
                            <label>Desde</label>
                            <InputDate class="form-control" @bind-Value="Desde" />
                        </div>

                        <div class="flex-fill mx-2">
                            <label>Hasta</label>
                            <InputDate class="form-control" @bind-Value="Hasta" />
                        </div>

                    </div>
                }
                </form>

                </div>
 
            
        </div>

        <table class="table table-light table-striped table-bordered">
            <thead class="thead">
                <tr class="table">
                    <th>Entrada Empacado Id</th>

                    <th>Concepto</th>

                    <th>Fecha de creación</th>

                    <th>Ver Registro</th>

                    
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    Fecha = DateOnly.FromDateTime(item.Fecha);
                    <tr>
                        <td>@item.EmpacadosId</td>
                        <td>@item.Concepto</td>
                        <td>@Fecha</td>

                        <td><a class="btn btn-sm btn-outline-success oi oi-eye" href="P_Empacados/@item.EmpacadosId"></a>
                        </td>
                       
                    </tr>
                }
            </tbody>

        </table>


</EditForm>


@code {

    @inject IToastService toastService

    #nullable disable // Para quitar el aviso de nulls
    public string filtro { get; set; } 

    public string Criterio { get; set; } 
    

    public DateTime Desde { get; set; }
    public DateTime Hasta { get; set; }
    private DateOnly Fecha { get; set; }

    public List<EntradaEmpacados> lista { get; set; } = new List<EntradaEmpacados>();

    [Parameter]
    
    
    public EmpacadosDetalle empacadosDetalle {get; set; } = new EmpacadosDetalle();

    [Inject]
    public EntradaEmpacadosBLL entradaEmpacadosBLL { get; set; }

     bool listado = false;
    private void Consultar()
    {
              
         if(lista != null)
        {
        lista = entradaEmpacadosBLL.GetListEmpacados(p => true);
        toastService.ShowSuccess("Productos Empacados");
        }
        
        if (Criterio != null)
        {
            switch (filtro)
            {

                 case "0":
                    
                    lista = entradaEmpacadosBLL.GetListEmpacados(p => p.EmpacadosId == int.Parse(Criterio));
                    break;
               
            }
        }
        else
        {
            lista = entradaEmpacadosBLL.GetListEmpacados(p => true);
        }

        if (listado == true)
        {
            lista = entradaEmpacadosBLL.GetListEmpacados(f => f.Fecha.Date >= Desde && f.Fecha.Date <= Hasta);
        }
        
    }

        private void MostrarFecha()
    {
        if (listado == false)
            listado = true;
        else
            listado = false;
    }
    

}