@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to my program!</h1>

Segundo Parcial | Registro de Productos con Detalle y Productos Empacados by Michael Mora.

<SurveyPrompt Title="How is Blazor working for you?" />
